body {
    background-color: #EAE9E9;
}

@media screen and (max-width: 1000px) {
    body {
        background-color:rgb(196, 232, 255) ;
    }
}

.central{
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.float {
    float: left;
}

.align {
    text-align: right;
}

textarea {
    margin-left: 2.5%;
    width: 86.5%;
}

img {
    margin-left: 3%;
    width: 88%;
}